*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #292f36;
  color: white;
  font-size: 2rem;
  min-height: 100vh;
}

input,
button {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

button {
  background-color: #ffe66d;
  padding: 0.8em 1em;
  border-radius: 3px;
  max-width: 117px;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
}

input {
  height: 35px;
  background: #1a1e23;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.5rem;
  padding: 0 1em;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 980px;
  display: grid;
  padding: 2em 0;
}

legend {
  font-size: 3rem;
  font-weight: 600;
}

.input-wrapper {
  padding: 1em;
  display: grid;
  justify-content: start;
  align-items: center;
  grid-gap: 0.8em 1em;
  grid-template-columns: max-content 1fr max-content 1fr;
  grid-template-areas:
    'name-label   name-field    price-label     price-field'
    'add-btn      add-msg       ...........     ...........'
    'remove-label remove-field  ...........     ...........'
    'remove-btn   remove-msg    ...........     ...........';
}

.input-wrapper label {
  font-size: 1.4rem;
  font-weight: 600;
}

.name-label {
  grid-area: name-label;
}
#name-field {
  grid-area: name-field;
}
.price-label {
  grid-area: price-label;
}
#price-field {
  grid-area: price-field;
}
.add-btn {
  grid-area: add-btn;
  margin-bottom: 2.5em;
}
.remove-label {
  grid-area: remove-label;
}
#remove-field {
  grid-area: remove-field;
}
.remove-btn {
  grid-area: remove-btn;
}
.add-msg {
  grid-area: add-msg;
}
.remove-msg {
  grid-area: remove-msg;
}

.add-msg,
.remove-msg {
  color: #ff6b6b;
  font-size: 1.4rem;
  display: none;
}

.list {
  margin-top: 3em;
}

.list-item {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #ffe66d;
  color: black;
  border-radius: 4px;
}

.list-item + .list-item {
  margin-top: 0.8em;
}

@media (max-width: 900px) {
  body {
    font-size: 1.8rem;
  }

  .container {
    width: 90%;
  }

  .input-wrapper {
    align-items: center;
    grid-template-columns: max-content minmax(100px, 1fr);
    grid-template-areas:
      'name-label      name-field'
      'price-label     price-field'
      'add-btn         add-msg'
      'remove-label    remove-field'
      'remove-btn      remove-msg ';
  }
}

@media (max-width: 450px) {
  .input-wrapper {
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      'name-label'
      'name-field'
      'price-label'
      'price-field'
      'add-btn'
      'add-msg'
      'remove-label'
      'remove-field'
      'remove-btn'
      'remove-msg ';
  }
}
